.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
}
.entries-selector {
  display: flex;
  align-items: center;
}
.sectionpart {
  width: 70px;
}
/* 
.navigationButtons {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.navigationButtons a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1.4px solid green;
  cursor: pointer;
}
.navigationButtons a:hover {
  color: white;
  background: green;
}

.navigationActive a {
  color: white;
  background-color: green;
}
.navigationDisabled a {
  color: grey;
  background-color: rgb(166, 191, 163);
}
.PeeTag{
  padding: 10px 105px 16px 59px;
  display: flex;
  border: 4px solid green;
  margin-top: 58px;
  margin-bottom: 45px;
} */
